*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* heading banner section  */
.heading-banner-section{
    width: 100%px;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    background-color: rgba(229, 84, 115, 0.1);
    /* border: 5px solid black; */
    align-items: center;
    padding: 0px 180px;
}
.banner-text{
    padding-right: 120px;
}
.banner-heading{
    font-size: 45px;
    color:#272727;
}
.paragraph{
    font-size: 15px;
    color: rgb(119, 116, 116);
    margin-bottom: 30px;
}
.banner-image{
    width: 450px;
    height: 580px;
    flex-shrink: 0;
    align-content: flex-end;
    padding-top: 70px;
}
/* our flower section */
.our-text{ /*our-flower*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-main-text{ /*.our-flower-text*/
    padding-top: 60px;
}

.text-heading{
    color:#272727;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph-2{
    width: 550px;
    font-size: 15px;
    text-align: center;
    color: rgb(119, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 25px;

}
/* our flower card section  */
.our-flower-contents{
    padding: 0px 10%;
}
.round-cards{
    gap:25px;
    display: flex;
    justify-content: center;
}
.simple-card{
    width: 300px;
    height: 400px;
    padding-bottom: 160px;
}
.round-card{
    width: 300px;
    height: 400px;
    background-color:rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 232px 232px 0px 0px;
}

.round-card2{
    width: 300px;
    height: 400px;
    background-color:rgba(7, 151, 158, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 232px 232px 0px 0px;
}
.round-card3{
    width: 300px;
    height: 400px;
    background-color:rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 232px 232px 0px 0px;
}

.our-flower-image{
    width: 220px;
    padding-top: 97px;
}
.our-flower-image2{
    width: 220px;
    padding-top: 70px;
}

.card-text{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

/* Optional serviece section  */
.our-service{
    padding: 0 10%;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-block{
    background-color: rgba(39, 39, 39, 0.05);
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:60px 0px;
    gap: 60px;
}
.single-block{
    text-align: center;
}
.my-icon{
    height:60;
    width: 60;
}

/* hot deal section  */
.hot-deal{
    height: 400px;
    background-color:rgba(229, 84, 115, 0.05) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deal-image{
    width: 220px;
    padding-left: 18px;
}

/* section social media */

.social-media-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-bottom: 100px;
}
.media-card{
    width: 250px;
}

/* subscription section  */
.subscribe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.subscription{
    height: 380px;
    width: 1300px;
    background-image: url('img/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.imput-section{
    padding-bottom: 80px;
}
.inpur-email{
    width:460px;
    padding: 12px 8px;
    border: 1px solid #E55473;
    border-radius: 5px;
}
/* this is footer section */
.footer_container{
    width: 100%;
    height: 250px;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    text-align: center;
}
.paragraph-3{
    width: 550px;
    font-size: 15px;
    text-align: center;
    color: rgb(190, 190, 190);
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer-heading{
    color:white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
}

/* common content for reuse  */
.primary-text{
    color: #E55473
}
.btn{
    background-color: #E55473;
    padding: 12px 30px;
    color: white;
    border-color:#E55473;
    border-radius: 8px;
    font-size: 16px;
}
.btn-signup{
    display: flex;
    justify-content: center;
}